.biere_wrapper{
    color:lightslategrey;
    
}

.unProduit {
    background-color: #fff;
}

.image {
    opacity: 1;
}

.ref {
    font-size: small;
    font-weight: bold;
    padding-right: 2rem;
    text-align: end;
}
.nom {
font-weight: bold;
}
.fabricant {
    font-style: oblique;
}
.description {
    
}
.note {
    padding-right: 2rem;
    text-align: end;
}
