.uneBiere {
    position: relative;
    text-align: center;
}
.uneBiere .image {
    position: relative;
    max-width: 20vw;
    top: 0px;
    left: 0px;
    opacity: 0.55;
}
.uneBiere .texte {
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color:rgb(255, 255, 255);
    background-color: rgb(18, 18, 36);
    opacity: 0.75;
    width: 100%;
    padding: 0.5rem 0;

}
 .uneBiere.image img {
     
 }
.uneBiere .texte .nom, .uneBiere .texte .brasserie {
    display: block;
}

@media screen and (max-width: 768px){
    .uneBiere .texte {
        position:unset;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        
    }
    .uneBiere .image {
        position: relative;
        max-width: 150px;
        top: 0px;
        left: 0px;
        opacity: 0.5;
    }
}